* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    position: relative;
    width: 100vw;
    font-size: 1.6rem;
    font-family: sans-serif;
    overflow-x: hidden;
}

img {
    width: 100%;
    vertical-align: bottom;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.wrapper, .main {
    margin: 0 auto;
    width: 80%;
    max-width: 1080px;
}

.header {
    margin-bottom: 30px;
}

.site-title {
    display: inline-block;
    margin-top: 20px;
    margin-left: 80px;
    width: 280px;
    z-index: 10;
}

.site-title img {
    width: 100%;
}

.main {
    margin-bottom: 100px;
}

.page-title {
    margin: 40px 0;
    text-align: center;
    font-family: "Noto Sans JP", sans-serif;
    font-size: 3rem;
}

.mb-50 {
    margin-bottom: 50px;
}

.describe {
    margin-bottom: 50px;
    color: #3C3C3C;
    text-align: center;
    line-height: 2;
}

.content {
    width: 100%;
    line-height: 2;
}

.content-text a {
    color: #3C3C3C;
}

.content-text .form {
    display: inline-block;
    color: #EB564C;
    font-weight: bold;
}

.content br {
    content: '';
    display: block;
    margin: 5px 0;
}

.content .br-wide {
    margin: 15px 0;
}

.content-title {
    position: relative;
    margin-left: 16px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 2rem;
}

.content-title::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: -16px;
    margin: auto;
    width: 6px;
    height: 20px;
    background-color: #EB564C;
}

.content-text {
    margin-left: 16px;
    margin-bottom: 50px;
    color: #3C3C3C;
}

.ct-law {
    margin-bottom: 30px;
}

.date {
    color: #3C3C3C;
}

.sec-title {
    margin-bottom: 31px;
    font-weight: 900;
    font-size: 3.4rem;
    line-height: 54px;
    text-align: center;
}

.footer {
    position: relative;
    padding: 0 0 60px 0;
    color: #fff;
    font-weight: 500;
    text-align: center;
    background-color: #EB564C;
    overflow: hidden;
}

.footer a {
    color: #fff;
}

.footer .wrapper {
    padding: 0 60px;
}

.footer .eb-logo {
    display: block;
    margin: 54px auto;
    width: 185px;
}

.footer .footer-nav {
    display: inline-block;
}

.footer .footer-nav ul {
    display: flex;
}

.footer .footer-nav li {
    margin-right: 30px;
    font-size: 1.4rem;
}

.footer .footer-nav li:last-of-type {
    margin-right: 0;
}

.btn:hover {
    opacity: 0.8;
}

.btn:active {
    transform: scale(0.95);
}

/*   --responsive--   */
/* 	960px ~ 1279px ノートPC ここから */

@media screen and (min-width:960px ) and (max-width:1279px ){

    .wrapper {
        margin: 0 auto;
        max-width: 90%;
    }

    .footer .wrapper {
        padding: 0;
    }

    .footer .eb-logo {
        width: 160px;
    }

}

@media screen and (max-width:1110px ) {

    .de-br {
        display: none;
    }
}

/* 	600px ~ 959px タブレット ここから */
@media screen and (max-width:959px ){

    .wrapper {
        margin: 0 auto;
        width: 90%;
    }

    .header .site-title {
        margin-left: 56px;
        width: 200px;
    }

    .header .site-title img {
        vertical-align: top;
    }

    .sec-title {
        margin-bottom: 64px;
    }

    .footer .wrapper {
        padding: 0;
    }

    .footer .eb-logo {
        width: 160px;
    }

    .deco span {
        bottom: -615px;
        width: 515px;
    }

}

/* footer nav フォントサイズ調整 ここから */

@media screen and (max-width: 680px) {

    body {
        font-size: 1.4rem;
    }

    .content-title {
        font-size: 1.8rem;
    }

    .footer .footer-nav {
        width: 100%;
    }

    .footer .footer-nav ul {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .footer .footer-nav li {
        display: inline-block;
        width: 32%;
    }

    .footer .footer-nav li:nth-of-type(3n) {
        margin-right: 0;
    }

    .footer .footer-nav li:nth-of-type(3n+1),
    .footer .footer-nav li:nth-of-type(3n+2) {
        margin-right: 2%;
    }

    .footer .footer-nav li:nth-of-type(-n + 3){
        margin-bottom: 20px;
    }

}

/* footer nav フォントサイズ調整 ここまで */
/* 	600px ~ 959px タブレット ここまで*/


/* 	480px ~ 599px ランドスケープモード（スマートフォンの横向き表示） ここから */
@media screen and (max-width:599px){

    .header .site-title {
        margin-left: 24px;
        width: 180px;
        height: 30px;
    }

}

/* footer レイアウト調整 ここから */

@media screen and (max-width:584px ) {

    .footer .footer-nav {
        text-align: left;
    }

    .footer .footer-nav a {
        display: inline-block;
    }

    .footer .container .ebc-logo {
        margin-right: 0;
        margin-bottom: 15px;
    }

    .footer .footer-nav ul {
        flex-direction: column;
    }

    .footer .footer-nav li {
        width: 100%;
    }

    .footer .footer-nav li:nth-of-type(n) {
        margin-bottom: 24px;
    }

}
/* footer レイアウト調整 ここまで */
/* 	480px ~ 599px ランドスケープモード（スマートフォンの横向き表示） ここまで */

/* 	~ 479px       ポートレートモード（スマートフォンの縦向き表示） ここから */
@media screen and (max-width:479px){

    .sec-title {
        margin-bottom: 32px;
    }

    .footer .contact {
        padding: 60px 0;
    }

    .footer .contact .sec-title {
        font-size: 2.2rem;
    }

    .contact .btn {
        width: 90%;
        font-size: 1.4rem;
    }

    .footer .container .ebc-logo {
        width: 200px;
    }

    .footer .container .eb-logo {
        width: 128px;
    }

    .footer .line img {
        width: 120px;
        height: 120px;
    }

    .footer .line::after {
        width: 70px;
        height: 70px;
    }

    .footer .deco span {
        bottom: 110px;
    }

    .footer .deco span:nth-of-type(1) {
        display: inline-block;
        right: -300px;
    }

    .footer .deco span:nth-of-type(2) {
        display: inline-block;
        right: -270px;
    }

    .footer .deco span:nth-of-type(3) {
        display: inline-block;
        right: -240px;
    }

    .footer .deco span:nth-of-type(4) {
        right: -210px;
    }

    .footer .deco span:nth-of-type(5) {
        right: -180px;
    }

    .footer .deco span:nth-of-type(6) {
        right: -150px;
    }

    .footer .deco span:nth-of-type(7) {
        right: -120px;
    }


}

/* 	~ 479px       ポートレートモード（スマートフォンの縦向き表示） ここまで */
